<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <title>Document</title>
</head>
<script>
  // document.getElementById("add-wrapper").onclick = function() {
  //   console.log("aaaa");
  // };
</script>
<body>
  <div class="report-wrapper">
    <div>
      <div>
        <label for="">コメント</label>
      </div>
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div>
      <div>
        <label for="">コメント</label>
      </div>
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div>
      <label>消費カロリー</label>
    </div>
    <div>
      <input type="number">
      <label>kcal</label>
    </div>
    <div>
      <label>摂取時刻</label>
    </div>
    <div>
      <input type="time">
    </div>
  </div>
  <div>
    <input type="submit" value="登録">
  </div>
  <div>
    <button id="add-wrapper">追加</button>
  </div>
</body>
</html>