<!DOCTYPE html>
<link href="app.css" rel="stylesheet">
<link href="pc.css" rel="stylesheet">
<head>
    <title>トップ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700 rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <a class="navbar-brand " href="#">SALUS</a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarsExample03" style="">
            <ul class="navbar-nav mr-auto text-right">
              <li class="nav-item active">
                <a class="nav-link" href="#">プロフィール</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">管理記録</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">報告</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                  <a class="dropdown-item" href="#">食事報告</a>
                  <a class="dropdown-item" href="#">運動報告</a>
                  <a class="dropdown-item" href="#">体重報告</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">お問い合わせ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ログアウト</a>
              </li>
            </ul>
          </div>
        </nav>
    </header>
        <div class="container pt-5 border-primary profile-container">
            <div class="col-md-6" style="max-width: 100%;">
              <h4 class="mb-3 border-bottom">プロフィール確認・編集</h4>
              <form class="needs-validation profile-form" style="padding-top: 10%;" novalidate="">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div>
                      <label class="form-label">会員番号</label>
                    </div>
                    <div>
                      <label name="personalNumber" id="personalNumber">591311</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="lastName" class="form-label">姓</label>
                    <input type="text" class="form-control profile-input" id="lastName" placeholder="田中" value="" required="">
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="firstName" class="form-label">名</label>
                    <input type="text" class="form-control profile-input" id="firstName" placeholder="太郎" value="" required="">
                    <div class="invalid-feedback">
                      Valid first name is required.
                    </div>
                  </div>
                </div>
                  
                <div class="mb-3">
                  <label for="email" class="form-label">生年月日<span class="text-muted"></span></label>
                  <input type="date" class="form-control profile-input" id="calendar">
                </div>

                <div class="mb-3">
                  <label for="email" class="form-label">メールアドレス<span class="text-muted"></span></label>
                  <input type="email" class="form-control" id="email" placeholder="you@example.com">
                  <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                  </div>
                </div>

                <div class="mb-3">
                  <label for="email" class="form-label">性別<span class="text-muted"></span></label>
                  <div>
                    <input type="radio" name="gender" value="male" checked="" required="">男性
                    <input type="radio" style="margin-left: 10px;" name="gender" value="female" >女性
                  </div>
                </div>
                <button class="btn btn-primary btn-dark btn-block profile-submit" type="submit">更新</button>
              </form>
            </div>
          </div>
    </div>
</body>
<foot>
</foot>
</html>